@charset "utf-8";

.container {
    position: relative;
    width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}

/* =====header===== */
header {
    width: 100%;
    height: 200px;
}

.logo-menu {
    display: flex;
    width: 100%;
}

h1 {
    margin-left: 40px;
    margin-top: 30px;
}

.gnb {
    display: flex;
    margin-top: 42px;
}

.gnb > li {
    margin-top: 23px;
    margin-left: 70px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;

}

.right-menu {
    position: absolute;
    right: 100px; top: 10px;
}

.right-menu > ul {
    display: flex;
}

.right-menu > ul > li {
    margin-right: 15px;
}

/*=====main======*/

.slide-img-box > img {
    width: 100%;
}

.menu {
    width: 100%;
    margin: 0 auto;
}

.ooriginal {
    display: flex;
}

.ooriginal > li {
    margin: 25px;
} 

.ooriginal > li > a > img {
    width: 250px;
}

.main-img {
    display: flex;
    margin-left: 120px;
}

.main-img > img {
    width: 500px;
}

.second {
    display: flex;
}

.second > li {
    margin: 25px;
}

.second > li > a >img {
    width: 250px;
}

.txt-box {
    text-align: center;
    line-height: 35px;
}

.txt-box > h2 {
    color: green;
    font-size: 35px;
    font-weight: 1000;
    font-family: 'impact';
}

.txt-box > .txt1 {
    color: gray;
}

.why-oofos-box {
    display: flex;
    margin-top: 80px;
    margin-left: 240px;
}

.content-txt-box {
    background-color: antiquewhite;
}

.content-txt-box > h3 {
    font-size: 30px;
    font-weight: 1000;
    font-family: 'impact';
    line-height: 60px;
}

.content-txt-box > p {
    margin-top: 60px;
    font-size: 12px;
}



.why-oofos-img-box > img {
    width: 450px;
}

.why-oofos-txt-box {
    margin-left: 25px;
    margin-top: 15px;
}

.why-oofos-txt-box > h3 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'impact';
    line-height: 60px;
}

.why-oofos-txt-box > p {
    margin-top: 60px;
    font-size: 12px;
}

.how-we-give-txt-box > h2 {
    margin-top: 110px;
    font-size: 40px;
    font-family: 'impact';
    font-weight: bold;
}

.green-box {
    margin-top: 142px;
}

.how-we-give-txt-box > p {
    margin-top: 98px;
}

.how-we-give-img-box {
    margin-left: 60px;
}

.how-we-give-img-box > img {
    width: 650px;
    height: 648px;
}

.how-we-give-box {
    display: flex;
    margin-top: 200px;
    margin-left: 180px;
}





